<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Companies</title>
    <style>table,
    td {
        border: 1px solid #333;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }

    thead,
    tfoot {
        background-color: #e8e5e5;
        color: #344712;
    }
    </style>
    <style>
        table, th, td {
            border: 1px solid #1e1818;
            padding: 3px;
        }
        body{
            background-image: url("https://i.pinimg.com/564x/2b/af/71/2baf7157a1909bb0b572d9236a4f05ca.jpg");
        }
        .courseMain {
            background-color: white;
        }
        .mainButton{
            display: flex;
            justify-content: center;
        }
    </style>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">


</head>
<body>

<p class="text-warning bg-dark">courses page</p>

<table class="table table-bordered ">
    <thead class="table-dark">
    <tr class="courseMain">
        <th scope="col">id</th>
        <th scope="col">course name</th>
        <th scope="col">duration</th>
        <th scope="col">description</th>
        <th scope="col">date of start</th>
        <th scope="col">assign group</th>
        <th scope="col">groups</th>
        <th scope="col">instructors</th>
        <th scope="col">lessons</th>
        <th scope="col">update</th>
        <th scope="col">delete</th>
        <th scope="col">assign instructor</th>

    </tr>
    </thead>
    <tbody class="table-success">

    <tr th:each="course:${courses}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.courseName}"></td>
        <td th:text="${course.duration}"></td>
        <td th:text="${course.description}"></td>
        <td th:text="${course.dateOfStart}"></td>

        <td>
            <form th:method="POST"
                  th:action="@{/{courseId}/assignGroup(courseId=${course.getId()})}">
                <select name="instructor" class="form-select form-select-sm" aria-label=".form-select-sm example"
                        th:object="${group}" th:field="*{id}">
                    <option th:each="group : ${groups}"
                            th:value="${group.id}"
                            th:text="${group.groupName}"></option>
                </select>
                <input style="height: 40px; width: 90px; background-color:#94ee7d;" type="submit" value="submit"/>
            </form>
        </td>

        <td><a th:href="@{/groups/{id}(id=${course.getId()})}">
            <button style="height: 40px; width: 90px; background-color:#66c487;">groups</button>
        </a>
        </td>

        <td><a th:href="@{/instructors/{id}(id=${course.getId()})}">
            <button style="height: 40px; width: 90px; background-color:#abd21e;">Instructor</button>
        </a>
        </td>

        <td><a th:href="@{/lessons/lessons/{id}(id=${course.id})}">
            <button style="height: 40px; width: 90px; background-color:#317dee;">lessons</button>
        </a>
        </td>

        <td><a th:href="@{/courses/edit/{id}(id=${course.getId()})}">
            <button style="height: 40px; width: 90px; background-color:blue;">update</button>
        </a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/courses/{id}/{compId}(id=${course.getId()},compId=${companyId})}">
                <input type="submit" value="Delete" style="height: 40px; width: 80px; background-color:darkorange;"/>
            </form>
        </td>

        <td><form th:method="post"
                  th:action="@{/{courseId}/assignInstructor(courseId=${course.getId()})}">
                <select name="instructor" class="form-select form-select-sm" aria-label=".form-select-sm example"
                        th:object="${instructor}" th:field="*{id}">
                    <option th:each="instructors : ${instructor}"
                            th:value="${instructor.id}"
                            th:text="${instructor.firstName}"></option>
                </select>
                <input style="height: 40px; width: 90px; background-color:#337dab;" type="submit" value="submit"/>
            </form>
        </td>

    </tr>
    </tbody>
</table>
<br><br><br>
<div style="text-align: center">
    <a th:href="@{/courses/{id}/addCourse(id=${companyId})}">
        <button style="font-size: 25px;"> Add Course </button>
    </a>
</div>

<br>
<a class="mainButton" th:href="@{/companies}">
    <button type="button" class="btn btn-primary btn-sm"> main </button>
</a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>